# git ignore
*.env
__pycache__/
*__pycache__*
*.json
*.pyc
../.talent_ai_venv/
.env
src/backend/__pycache__/
src/components/__pycache__/
src/data/
src/.streamlit/secrets.toml
new_venv/
src/components/__pycache__/evaluate_candidates_resume.cpython-312.pyc
src/components/__pycache__/interview_questions.cpython-312.pyc
*.json
*.pyc   
../.talent_ai_venv/
